# ASSIGHNMENT_1 (SAYLANI (SMIT) ) Topic: print()

(QUESTION_1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [17]:
string_value=input("Enter The String anything : ")
integer_value=int(input("Enter The any integer :"))
boolean_value=True
float_value=25.35
print(f"string _value is : {string_value} , integer_value is : {integer_value} , boolean_value is : {boolean_value} , float_value is : {float_value} ")

Enter The String anything :  SMIT
Enter The any integer : 190324

string _value is : SMIT , integer_value is : 190324 , boolean_value is : True , float_value is : 25.35

(QUESTION_2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [20]:
hyphon=input("Enter The hyphon Using String : ")
integer_value=int(input("Enter The any integer :"))
boolean_value=True
float_value=253.21
print(f"hyphon _value : {hyphon} , integer_value is : {integer_value} , boolean_value is : {boolean_value} , float_value is : {float_value} ")

Enter The hyphon Using String :  Saylani-SMIT
Enter The any integer : 18452

hyphon _value : Saylani-SMIT , integer_value is : 18452 , boolean_value is : True , float_value is : 253.21

(QUESTION_3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [21]:
print(" SMIT "  ,  12366 , True , 5898.369 )

 SMIT  12366 True 5898.369

(QUESTION_4) Can a python print function take no value to print???

In [22]:
print()

# TOPIC :Variables in Python Operators

(QUESTION_5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [23]:
Name="Mr. Ahmed"
Age= "30 Year old"
profession="Lawer"
Bachlor_year=2005
Current_Employes_as="The Himalya Associates"
Location="Karachi"
Working_since=2015
Height=" 5.10 Feet "
weight=" 70600 g "
Monthly_income=" 200k PKR "
print( Name, Age , profession , Bachlor_year , Current_Employes_as , Location,Working_since , Height,weight , Monthly_income )

Mr. Ahmed 30 Year old Lawer 2005 The Himalya Associates Karachi 2015  5.10 Feet   70600 g   200k PKR

(QUESTION_6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [24]:
Bachlor_year=2005
current_year=2025
subtract_it_from_his_passout_year= current_year-Bachlor_year
print(f" Final Result After Subtract {subtract_it_from_his_passout_year} Year ")

 Final Result After Subtract 20 Year

(QUESTION_7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [25]:
Employes_working_at_The_Himalya_Associates_Working_since=2015
current_year=2025
Number_of_working_year=current_year-Employes_working_at_The_Himalya_Associates_Working_since
print(f"Number of year The Working at The Himalya Associates  { Number_of_working_year } Year")

Number of year The Working at The Himalya Associates  10 Year

(QUESTION_8) Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [26]:
monthly_income_of_MR_Ahmed_in_PKR=200000
# 1 Doller in PKR : 279
monthly_income_of_MR_Ahmed_in_doller=279
Result_in_Doller=monthly_income_of_MR_Ahmed_in_PKR*monthly_income_of_MR_Ahmed_in_doller
print(f" monthly_income_of_MR_Ahmed_in_Doller: $$ {Result_in_Doller}")

 monthly_income_of_MR_Ahmed_in_Doller: $$ 55800000

(QUESTION_9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [27]:
Result_integer_in_Doller=55800000
float_value=float(55800000)
print (f"The Value in Float is: {float_value} ")

The Value in Float is: 55800000.0

(QUESTION_10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [28]:
Mr_Ahmed_weight_Gram=70600
# Gram into kilogram Divide by 1000
Result_Mr_Ahmed_weight_in_Kilogram=70600/1000
print(f"Result_Mr_Ahmed_weight_in_Kilogram: {Result_Mr_Ahmed_weight_in_Kilogram} KG")

Result_Mr_Ahmed_weight_in_Kilogram: 70.6 KG

(QUESTION_11) print the year of birth of Mr. Ahmed.

In [29]:
print(Age)

30 Year old

(QUESTION_12) Can Rs. 100 be divided equally among 6 students? <br>
HINT: % operator (modulo)

In [30]:
#10%2

100%6

# 10 is completely divisible by 2

# Answer: yes,comes in table 10%2

# 10 is multiple of 2

# Answer: yes,comes in table 2*5

# 2 is a factor of 10

# Answer: yes,comes in table 2*5
# yes, 2,4,6,8,10

# 10 comes in table of 2

# Answer: yes,comes in table 2*5

4